### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

In [18]:
import pandas as pd
import numpy as np

### Import the dataset gender.txt, assign to a variable gender

### Import արեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին

In [2]:
gender = pd.read_csv('gender.txt',sep="|")

In [3]:
gender.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Check the datatypes in the dataframe

### Ստուգեք աղյուսակի սյուների տիպերը

In [5]:
gender.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Convert the datatype of the column 'occupation' into categorical

### Վերածեք 'occupation' սյունը categorical տիպի

In [7]:
gender['occupation']=gender['occupation'].astype('category')

### Replace the values in the column 'gender' with Male and Female accordingly. Do this with 2 methods: using apply and map.

### Փոխարինեք  'gender' սյան արժեքները Male և Female արժեքներով, արեք սա երկու տարբերակով՝ գործածելով apply և map ֆունկցիաները

In [8]:
gender.gender

0      M
1      F
2      M
3      M
4      F
      ..
938    F
939    M
940    M
941    F
942    M
Name: gender, Length: 943, dtype: object

In [10]:
gender['gender'].map({'M': 'Male', 'F': 'Female'})

0        Male
1      Female
2        Male
3        Male
4      Female
        ...
938    Female
939      Male
940      Male
941    Female
942      Male
Name: gender, Length: 943, dtype: object

In [12]:
gender['gender']

0      M
1      F
2      M
3      M
4      F
      ..
938    F
939    M
940    M
941    F
942    M
Name: gender, Length: 943, dtype: object

In [11]:
def genderlong(g):
    if g=="M":
        return "Male"
    elif g=="F":
        return "Female"

In [14]:
gender['gender']=gender['gender'].apply(genderlong)

In [15]:
gender['gender']

0        Male
1      Female
2        Male
3        Male
4      Female
        ...
938    Female
939      Male
940      Male
941    Female
942      Male
Name: gender, Length: 943, dtype: object

### Calculate the mean, median and std of age values for each occupation

### Հաշվեք age սյան mean, median և std արժեքները occupation սյան ամեն արժեքի համար

In [21]:
gender.groupby('occupation')['age'].agg([np.sum,np.median,np.std])

                sum  median        std
occupation
administrator  3061    37.0  11.123397
artist          879    30.0   8.668116
doctor          305    45.0  12.501428
educator       3991    42.0  10.413264
engineer       2438    36.0  11.199236
entertainment   526    25.0  10.056052
executive      1239    38.5  10.608075
healthcare      665    44.5  11.313524
homemaker       228    32.0  10.737119
lawyer          441    34.0  10.830303
librarian      2040    39.0  11.023611
marketing       978    36.0   9.474500
none            239    26.0  13.757826
other          3625    32.0  10.738227
programmer     2186    30.0   9.624512
retired         883    63.0   5.757461
salesman        428    34.0  14.079859
scientist      1102    37.0   7.392964
student        4328    21.0   5.284081
technician      895    30.0   9.867210
writer         1634    36.0  11.423306

### Create a new column 'birth_year' and get the birth year of each individual using the values from the column 'age'

### Ստեղծեք 'birth_year' անունով նոր սյուն, որում կպահեք ամեն մարդու ծննդյան տարին, որը կստանաք օգտագործելով 'birth_year' սյան արժեքները

In [89]:
gender['birth_year']=(pd.to_datetime('today')-gender['age'].apply(lambda x:np.timedelta64(x, 'Y'))).dt.year

In [90]:
gender['birth_year']

0      1997
1      1968
2      1998
3      1997
4      1988
       ...
938    1995
939    1989
940    2001
941    1973
942    1999
Name: birth_year, Length: 943, dtype: int64

### Create a new column 'birth_date' using the column 'birth_year' and current month and day values"

### Ստեղծեք 'birth_date' անունով նոր սյուն, որի արժեքները կստանաք գործածելով 'birth_year' սյան արժեքները ինչպես նաև այս պահի ամիսն ու օրը։

### Make sure the datatype of the columns 'birth_year' and 'birth_date' is datetime

### Վստահ եղեք, որ 'birth_year' և 'birth_date' սյուները datetime տիպի են

In [91]:
gender['birth_year']=pd.to_datetime(gender['birth_year'], format='%Y')

In [92]:
gender['birth_date'] = gender['birth_year'].apply(lambda dt: dt.replace(day=pd.to_datetime('today').day))

In [93]:
gender['birth_date'] = gender['birth_year'].apply(lambda dt: dt.replace(month=pd.to_datetime('today').month))

In [94]:
gender['birth_date']

0     1997-05-01
1     1968-05-01
2     1998-05-01
3     1997-05-01
4     1988-05-01
         ...
938   1995-05-01
939   1989-05-01
940   2001-05-01
941   1973-05-01
942   1999-05-01
Name: birth_date, Length: 943, dtype: datetime64[ns]

In [95]:
gender.dtypes

user_id                int64
age                    int64
gender                object
occupation          category
zip_code              object
birth_year    datetime64[ns]
birth_date    datetime64[ns]
dtype: object

### Change the values in the column user_id to have the values of type string of the same length (use the method of your choice). As an example, if we have values 0, 1 and 100, we could have values '000', '001' and '100' as a result.

### Փոխեք user_id սյան արժեքները նույն երկարություն ունեցող string տիպի արժեքներով՝ գործածելով Ձեր ցանկացած մեթոդը։ Որպես օրինակ, եթե ունեք 0, 1 և 100 աևժեքներ, Ձեր արդյունքը կարող է լինել '000', '001' և'100'

In [102]:
gender['user_id']=gender['user_id'].astype("object")

In [115]:
gender['user_id']

0        1
1        2
2        3
3        4
4        5
      ...
938    939
939    940
940    941
941    942
942    943
Name: user_id, Length: 943, dtype: object

In [103]:
gender['user_id'].str.zfill(width=15)

AttributeError: Can only use .str accessor with string values!

In [110]:
gender['user_id']=gender['user_id'].apply(lambda x:str(x))

In [114]:
gender['user_id'].str.zfill(width=5)

0      00001
1      00002
2      00003
3      00004
4      00005
       ...
938    00939
939    00940
940    00941
941    00942
942    00943
Name: user_id, Length: 943, dtype: object

```
Can you please explain why my dtype is object but I have integers in it?
```